.tags__container {
  font-size: 1.3em;
  font-family: "VT323", monospace;
  font-stretch: ultra-expanded;
  text-decoration: none;
}

.tags__container > p {
  float: left;
}

.tags__container > ul > li {
  list-style: none;
  display: inline;
  text-decoration: none;
  padding-left: 2%;
  margin-left: 0;
}

.tags__container > ul > li > a {
  color: darkorange;
  box-shadow: none;
  margin-left: 0;
}
