.tags__container {
  font-size: 1.2em;
  margin-left: 0;
  padding-left: 0;
  font-family: "VT323", monospace;
  font-stretch: expanded;
  text-decoration: none;
}

.date__container {
  display: inline;
}
.tag__list li {
  list-style: none;
  display: inline;
  text-decoration: none;
  margin-left: 2%;
}

.tag__list a {
  color: darkorange;
  box-shadow: none;
}
